<style>
	strong {
		font-family: Courier;		
	}
	table {
 		font-size: 13px; 
		font-family: Courier;
		border-collapse: collapse;
		border: 1px solid black;
	}
	td, th {
		border: 1px solid black;
	}
	a {
 		font-size: 11px; 
		font-family: Courier;
	  }
	</style>
{% for key in subst %}
<strong> {{ key }} <strong>
<table>
<tbody>
<tr>
<th> Дата </th>
<th> Объем Куста (м3) </th>
<th> Объем потребителей (м3) </th>
<th> Потери (м3) </th>
<th> % потери </th>
</tr>
<tr>
{% for value in subst[key] %}
<td>{{ value }}</td>
{% endfor %}
</tr>
</tbody>
</table>
<br>
{% endfor %}
	
<a href="http://pulsarweb.rsks.su:8080">Система мониторинга пульсар</a>

